body {
    font-family: "Comic Sans MS";
    font-style: italic;
}

td {
    padding: 10px 25px;
    text-align: center;
    font-size: 18px;

}

input {
    width: 330px;
}

.sub {
    width: 100px;
    margin: 10px;
}
